{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="homepage-wrapper">
    <div class="container">
        <div class="welcome">
            <h1>Witaj w systemie zarządzania wizytami!</h1>
        </div>
        <a href="login" class="login-btn">Zaloguj się</a>
        <a href="register" class="login-btn">Zarejestruj się</a>
    </div>
</div>
{% endblock %}
