{% extends 'admin/base-admin.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="admin-main-wrapper">
        <div class="container">
            <div class="cta">
                <a href="{{ path('admin.calendar') }}" class="btn btn-primary">Kalendarz</a>
            </div>
        </div>
    </div>

{% endblock %}
