{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="admin-main-wrapper">
        <div class="container">
            <h1>Witaj {{ app.user.username }}!</h1>
            <a href="{{ path('app_logout') }}">Wyloguj się</a>

            <div class="cta">
                <a href="{{ path('admin.calendar') }}" class="btn btn-primary">Kalendarz</a>
            </div>

        </div>
    </div>
{% endblock %}
