@import "~bootstrap/scss/bootstrap";

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.homepage-wrapper {
    margin-top: 100px;
    .container {
        text-align: center;
        .login-btn {
            margin-top: 50px;
            width: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: solid 1px black;
            text-decoration: none;
            transition: 0.3s ease all;
            color: black;
            font-size: 20px;
            &:hover {
                background-color: gray;
            }
        }
    }
}

.login-form {
    .container {
        form {
            width: 500px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            ::placeholder {
                color: gray;
            }
            input {
                width: 250px;
                margin-bottom: 5px;
                margin-left: auto;
                margin-right: auto;
            }
            button {
                margin-top: 20px;
            }
        }
    }
}

.registration-form {
    .container {
        text-align: center;
        .wrapper {
            margin-top: 100px;
            form {
                width: 500px;
                margin-left: auto;
                margin-right: auto;
                ::placeholder {
                    color: gray;
                }
                input {
                    width: 250px;
                    margin-bottom: 5px;
                    margin-left: auto;
                    margin-right: auto;
                }
                button {
                    margin-top: 20px;
                }
                .agree-terms {
                    input {
                        width: 25px;
                    }
                }
            }
        }
    }
}

.admin-calendar-wrapper {
    margin-top: 100px;


    .container {
        position: relative;
        text-align: center;
        .logout {
            right: 0;
            top: 0;
            position: absolute;
            z-index: 1000;
        }
        .row {
            .col-md-12 {
                .calendar-nav {
                    margin: 20px 0;
                    a {
                        margin: 0 5px;
                    }
                }
            }
        }
        table {
            table-layout: fixed;
            td {
                width: 33%;
                text-align: center;
            }
            .today {
                background-color: yellow;
            }
        }
    }
}

.admin-main-wrapper {
    margin-top: 100px;
    .container {
        text-align: center;

        .row {
            margin-top: 50px;
        }
        .cta {
            margin-top: 25px;
        }
    }
}

.admin-booking-wrapper {
    margin-top: 100px;
    .container {
        text-align: center;

        .row {
            margin-top: 50px;
            .btn {
                width: 130px;
            }
        }
        .booking-return {
            margin-top: 50px;
        }
    }
}


