{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('user-main') }}">Panel Główny <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Twoje Rezerwacje</a>
                    </li>
                </ul>
            </div>
            <div class="logout">
                <h4>{{ app.user.username }}</h4>
                <a href="{{ path('app_logout') }}">Wyloguj się</a>
            </div>
        </div>
    </nav>
{% endblock %}