{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="calendar-wrapper user">
        <div class="container">
            <div class="logout">
                <h4>{{ app.user.username }}</h4>
                <a href="{{ path('app_logout') }}">Wyloguj się</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ calendar | raw}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
