{% extends 'user/base-user.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="user-main-wrapper">
        <div class="container">
            <div class="book-cta">
                <h2>Zarezerwuj wizytę u:</h2>
                {% for admin in admins %}
                    <div class="cta">
                        <a href="{{ path('user-calendar', {email: admin}) }}" class="btn btn-primary" id="{{ admin }}">{{ admin }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
