{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="user-booking-wrapper">
        <div class="container">
            <div class="booking-date" data-id={{ date }}>
                <h1>Dzień: {{ date }}</h1>
            </div>
            <div class="row justify-content-center">
                {% for ts in timeslots %}
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-success timeslots-user" data-id="">{{ ts }}</button>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <div class="booking-return">
                <a href="{{ path('user-calendar', {
                    'month': month,
                    'year': year
                })}}" class="btn btn-primary">Powrót</a>
            </div>
        </div>
    </div>



{% endblock %}